body {
    display: flex;
    justify-content: center;
    text-align: center;
}

ol,
ul {
    padding-left: 30px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    font-size: 4rem;
    font-weight: bold;
    line-height: 34px;
    height: 6rem;
    text-align: center;
    width: 6rem;
    margin: 4px;
    border-radius: 8px;
}

.square:hover {
    background-color: #eaeaea;
}

.square:hover,
.square:focus-visible {
    outline: 2px solid var(--bs-info);
}

.square:disabled {
    cursor: not-allowed;
    color: #000;
}

.game {
    margin-top: 25vh;
}

.scoreboard button.active-player {
    outline: 4px solid var(--bs-info);
}